body {
  margin: 0;
  padding: 0;
  background: url('restab.gif') no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  width: 420px;
  background: #24303c;
  padding: 40px;
  margin: 100px;
  margin-top: 100px;
  border-radius: 20px;
  font-family: 'calibri';
  color: white;
  box-shadow: 10px 13px 40px #000;
}

.form-register h4 {
  font-size: 30px;
  margin-bottom: 30px;
}


.form-register h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.form-register h2 {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.footer-second p, .footer-second a {
  text-align: center;
  color: #fff;
  font: 160%;
  line-height: 100%;
      margin: 30px 0;
}
